<div class="container">
  <h1>¡Bienvenido!</h1>
  <img style="max-width: 100%;display: block;" src="assets/nestjs.jpg" alt="Inicio de sesión con SSO utilizando Angular, Keycloak y NestJS. La imagen muestra los logotipos de Angular, Keycloak y NestJS junto con el texto 'Inicio de sesión con SSO' y 'Angular + Keycloak + NestJS" >
  <p class="app-description">
    Esta es una aplicación de demostración para mostrar la integración de inicio de sesión único (SSO)
    con Keycloak en una aplicación Angular, conectándose a un backend desarrollado en NestJS.
    Aquí podrás ver cómo funcionan los roles y la autenticación.
  </p>
  <button class="login-button" (click)="login()">Iniciar Sesión con Keycloak</button>
</div>
